<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289759243912-ajn5n891br9kul40njv87reihaqgmq54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289759243912-ajn5n891br9kul40njv87reihaqgmq54</string>
	<key>API_KEY</key>
	<string>AIzaSyBA6wiMY4YL1Kw83xit5bej8Ho1F-D1Si8</string>
	<key>GCM_SENDER_ID</key>
	<string>289759243912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.praxeis.deedz</string>
	<key>PROJECT_ID</key>
	<string>deedz-v4-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>deedz-v4-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289759243912:ios:01df281906061161</string>
	<key>DATABASE_URL</key>
	<string>https://deedz-v4-dev.firebaseio.com</string>
</dict>
</plist>